body {
}
#Menu1
{
    margin-left:40%;
}
#menu2
{
    margin-left:90%;
}
#Menu3
{
    margin-left:35%;
}
#auto-style2
{
    margin-left:589px;
}
#Menu4{
    align-content:center;
    margin-left:37%;
}